/*Styling for New Component window*/
.three-boxes {
  display: flex;
  justify-content: space-between;
}

.box-heading {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.newcomp {
  height: 200px;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba( 69,145, 61, 0.7);
  box-shadow: 3px -1px 3px 0px rgba(0,0,0,0.35);
  margin-bottom: 25px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bolder;
  overflow-x: hidden;
  overflow-y: auto;

}

.one {
  flex: 1;
  margin-right: 10px;
}

.two {
  flex: 1;
  margin-right: 10px;
}

.three {
  flex: 1;
}

.list-items {
  text-align: center;
  padding-left: 0px;
}

@media screen and (max-width: 600px) {
  .three-boxes{
    flex-direction: column;
    align-items: center;
  }

  .one {
    margin: 0
  }

  .two {
    margin: 0
  }

  .newcomp {
    margin-bottom: 10px;
    width: 90%;

  }
}
