/*Styling for New Component window*/
.three-boxes {
  display: flex;
  justify-content: space-between;

  @media (min-width: 450px) {
    flex-direction: row;
  }
}

.box-heading {
  font-weight: 800;
  font-size: 15px;
  text-align: center;
}

.newcomp {
  height: 200px;
  border-radius: 4px;
  font-size: 0.8125rem;
  background-color: rgba( 69,145, 61, 0.7);
  box-shadow: 3px -1px 3px 0px rgba(0,0,0,0.35);
  margin-bottom: 50px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bolder;
  overflow-x: hidden;
  overflow-y: auto;

}

.one {
  flex: 1;
  margin-right: 10px;
}

.two {
  flex: 1;
  margin-right: 10px;
}

.three {
  flex: 1;
}

.list-items {
  text-align: center;
  padding-left: 0px;
}
