/*
COMPONENTS
*/
/*.container {
  border-style: dashed;
  border-color: green;
  position: absolute;
}*/
body {
  background-color: grey;
}
.main {
  background-color: white;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 200px;
}
.exampleHideShow {
  width: fit-content;
  background-color: blue;

}

.exampleHideShow2 {
  width: fit-content;

}

.blocked {
  display: block;
}

.picture {
  width: 500px;
  hieght: 500px;
  border-radius: 5px;
  border: solid 1px;
}

.last {
  margin-bottom: 100px;
}
