/*
COMPONENTS
*/
/*.container {
  border-style: dashed;
  border-color: green;
  position: absolute;
}*/
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26558b+0,3a8bc2+16,4bb8f0+29,419ad6+41,3a84c3+49,6199c7+50,aac5de+83,cedbe9+100 */
  background: #26558b; /* Old browsers */
  background: -moz-linear-gradient(top,  #26558b 0%, #3a8bc2 16%, #4bb8f0 29%, #419ad6 41%, #3a84c3 49%, #6199c7 50%, #aac5de 83%, #cedbe9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #26558b 0%,#3a8bc2 16%,#4bb8f0 29%,#419ad6 41%,#3a84c3 49%,#6199c7 50%,#aac5de 83%,#cedbe9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #26558b 0%,#3a8bc2 16%,#4bb8f0 29%,#419ad6 41%,#3a84c3 49%,#6199c7 50%,#aac5de 83%,#cedbe9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26558b', endColorstr='#cedbe9',GradientType=0 ); /* IE6-9 */

}

.main {
  background-color: white;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 200px;
}

.mainTwo {
  background-color: #748BA7;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 20px;
}
.exampleHideShow {
  width: fit-content;
  background-color: blue;

}

.exampleHideShow2 {
  width: fit-content;

}

.blocked {
  display: block;
}

.picture {
  width: 500px;
  hieght: 500px;
  border-radius: 5px;
  border: solid 1px;
}

.last {
  margin-bottom: 100px;
}

.textbox {
  width: 500px;
  height: 500px;
}

.jumobotext {
  font-family: 'Berkshire Swash', cursive;
}

.headingtext {
  font-family: 'Architects Daughter', cursive;
}

.intro {
  background-color: 'white';
}

.left {

}

.right {
  text-align: right;
}

.componentBox {
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #748BA7
}
