
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26558b+0,3a8bc2+16,4bb8f0+29,419ad6+41,3a84c3+49,6199c7+50,aac5de+83,cedbe9+100 */
  background: #26558b; /* Old browsers */
  background: -moz-linear-gradient(top,  #26558b 0%, #3a8bc2 16%, #4bb8f0 29%, #419ad6 41%, #3a84c3 49%, #6199c7 50%, #aac5de 83%, #cedbe9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #26558b 0%,#3a8bc2 16%,#4bb8f0 29%,#419ad6 41%,#3a84c3 49%,#6199c7 50%,#aac5de 83%,#cedbe9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #26558b 0%,#3a8bc2 16%,#4bb8f0 29%,#419ad6 41%,#3a84c3 49%,#6199c7 50%,#aac5de 83%,#cedbe9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26558b', endColorstr='#cedbe9',GradientType=0 ); /* IE6-9 */

}


/*Styling for the Jumbotron header*/
.jumbotron {
  background: rgba(160,211,154,0.5)
}
.jumobotext {
  font-family: 'Berkshire Swash', cursive;
}



/*Styling for the footer*/
.foot {
  height: 175px;
  background: rgba(160,211,154,0.5)
}


/*styling for the large holding components*/
.main {
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 200px;
  height: 600px;
}

.mainTwo {
  color: white;
  background-color: rgba( 69,145, 61, 0.33);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;

}

.scrollbar {
  overflow: scroll;
  height: 475px;
}



/*Styling for the display of the components*/
.componentBox {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  background: rgba(109,177,102,0.5);
}

.gitLink {
  color: white;
  font-weight: bolder;
  font-size: 23px;
  font-family: 'Architects Daughter', cursive;
}



/*Styling for the text box component*/
.comments {
  display: inline-block;
}

.commentBox {
  width: 500px;
  height: 250px;
  text-align: right;;
  color: black;
}

.textbox {
  width: 500px;
  height: 250px;
  color: black;
}


/*Styling for the hide and show component*/
.exampleHideShow {
  width: fit-content;
}

.exampleHideShow2 {
  width: fit-content;
}



/*Styling for the picture component*/
.picture {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  border: solid 1px;
}



/*Universal Styling*/
.blocked {
  display: block;
}

.last {
  margin-bottom: 100px;
}

.headingtext {
  font-family: 'Architects Daughter', cursive;
}

.intro {
  background-color: 'white';
}

.left {

}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}




/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=12N0u0kiyme8zxjdyr5mAicr+cQ */

/* Feel free to copy&paste color codes to your application */


/* As RGBa codes */

.rgba-primary-0 { color: rgba( 69,145, 61,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(160,211,154,1) }
.rgba-primary-2 { color: rgba(109,177,102,1) }
.rgba-primary-3 { color: rgba( 43,119, 35,1) }
.rgba-primary-4 { color: rgba( 17, 84, 10,1) }



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */
